<!-- <p>simple-dashboard works!</p> -->

<!-- BEGIN Page Content -->
                    <!-- the #js-page-content id is needed for some plugins to initialize -->
                    <main id="js-page-content" role="main" class="page-content">
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
                            <li class="breadcrumb-item">Documentation</li>
                            <li class="breadcrumb-item active">Project Structure</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
                        </ol>
                        <div class="subheader">
                            <h1 class="subheader-title">
                                <i class='subheader-icon fal fa-book'></i> Documentation: <span class='fw-300'>Project Structure</span>
                                <small>
                                    Product documentation, plugin reference, and online help
                                </small>
                            </h1>
                        </div>
                        <div class="card mb-g p-2">
                            <div class="card-body">
                                <div class="alert alert-primary alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="fal fa-times"></i>
                                        </span>
                                    </button>
                                    <div class="d-flex flex-start w-100">
                                        <div class="mr-2 hidden-sm-down">
                                            <span class="icon-stack icon-stack-lg">
                                                <i class="base-14 icon-stack-3x color-primary-400"></i>
                                                <i class="base-14 icon-stack-2x color-primary-600 opacity-70"></i>
                                                <i class="fal fa-cog icon-stack-1x text-white opacity-90"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-fill">
                                            <div class="flex-fill">
                                                <span class="h5">Heads Up</span>
                                                <br>
                                                Below is a full example of the project files, you may click on the directory to expand and see the full structure of the project files. The 'dist' directory, though isn't mentioned below, will be included in your downloaded package for the HTML Edition.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <pre id="json-renderer" class="json-tree"></pre>
                                <input class="path d-none" type="text">
                            </div>
                        </div>
                    </main>
                    <!-- this overlay is activated only when mobile menu is triggered -->
                    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
